<style>
    #signup {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10%;
        color: white;
    }
    #signup h3, #signup h1, #signup h5 {
        color: white;
    }
    #signup .user {
        background-color: white;;
    }
    #signup #create, #signup #signin {
        color: white;
        background-color: rgb(83, 40, 182);
        border: black;
    }
    #signup #create:hover, #signup #signin:hover {
        color: black;
        background-color: white;
    }
</style>

{% layout "layout.liquid" %}
{% block content %}

<div id="signup">
    <h1>Create your own Smash Bros. characters.</h1>
    <h3>There's always room for more.</h3>
    <h5>Create an account to get started.</h5>
    <form action="/user/signup" method="post">
        <fieldset>
            <input class="user" type="text" name="username" placeholder="Username" required/> 
            <input class="user" type="password" name="password" placeholder="Password" required/>
        </fieldset>
        <input id="create" type="submit" value="Create Account"/>
    </form>
    <div>
        Already have an account?
        <a href="/user/login"><button id="signin">Login</button></a>
    </div>
</div>

{% endblock %}