body {
    /* background-color: #e1dfe4; */
    background-color: #22223b;
  }
  header {
    /* border: 2px dashed white; */
    text-align: center;
    background-color: #f8f9fa;
    padding: 15px;
    height: 108px;
  }
  h1 {
    color: #212529;
    font-weight: bold;
  }
  .fever {
    color: #F34213;
  }
  h4 {
    color: #727272;
  }
  a {
    margin: 15px;
    /* color: red; */
  }

  body {
    /* background-color: rgb(16, 18, 63); */
    background-image: url("https://i.imgur.com/q2cLqJM.png");
    background-position:center;
    background-size:cover;
  }

  footer {
      /* border: 2px dashed red; */
      padding: 25px;
      margin-top: 30px;
      background-color: #f8f9fa;
  }

  .flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
  }

/* ============= NAV BAR =================== */
/* credit goes to Deltaty Code https://github.com/Deltaty-Code/Humburger-Menu */
.logo {
    display: flex;
    justify-content: space-between;
}
.logo h1 {
    font-family: 'Permanent Marker', cursive;
}
.logo img {
    height: 50px;
    width: 50px;
    margin-left: 15px;
}

li {
    list-style: none;
}

nav {
    /* background-color: #000; */
    color: black;;
    display: flex;
    justify-content: space-between;
}
nav .mainMenu {
    display: flex;
}
nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 1.5rem;
}
nav .mainMenu li a:hover {
    border: 2px solid rgb(83, 40, 182);
    border-radius: 6px;
}
nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}
nav .mainMenu .closeMenu {
    font-size: 2rem;
    cursor: pointer;
    display: none;
}
.fa-facebook:hover {color: rgb(0, 110, 255);}
.fa-twitter:hover {color: rgb(86, 154, 243);}
.fa-instagram:hover {color: rgb(255, 0, 191);}
.fa-github:hover {color: rgb(255, 123, 0);}

nav .logo {
    margin: 6px;
    font-size: 25px;
    cursor: pointer;
}

@media(max-width: 845px){
    nav .mainMenu {
        height: 100vh;
        /* height: 50vh; */
        position: absolute;
        top: 0;
        right: 0;
        /* left: 0; */
        z-index: 10;
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
        background: whitesmoke;
        /* transition: top 1s ease; */
        display: none;
        border: 1px dashed rgb(135, 131, 131);
    }
    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    nav li a {
        padding: unset;
        margin: unset;
    }
    ul.mainMenu {
        margin: unset !important;
    }

    nav .openMenu {
        display: block;
    }
    nav .mainMenu li a:hover {
        background: none;
        color: rgb(255, 123, 0);
        font-size: 1.6rem;
    }
    .icons i {
        display: inline-block;
        padding: 12px;
    }
    .logo h1 {
        font-size: 1.5em;
    }
    .logo img {
        height: 1.5em;
        width: 1.5em;
        margin-top: 2%;
    }
}